<nav class="navbar navbar-expand-sm bg-warning navbar-light" style="font-weight: 250px; font-size: larger;">
  <ul class = "navbar-nav">
    <a class="navbar-brand mx-4" href="#" style="font-weight: 250px; font-size: larger;">Home</a>
      <li class = "nav-item">
          <a routerLink="employees" routerLinkActive="active" class="nav-link" >Employee List</a>
      </li>
      <li class = "nav-item">
          <a routerLink="create-employee" routerLinkActive="active" class="nav-link" >Add Employee</a>
      </li>
  </ul>
</nav>

<h1 class="text-center my-2"> Employee management system</h1>
<div class = "container">
  <router-outlet></router-outlet>
</div>
